body {
    color: #ddd;
}

a {
    color: #bbb;
    cursor: pointer;

    &:hover {
        color: #bbb;
        text-decoration: none;
    }
}

.default-container {
    padding: 15px;
}
$action-link-color: #337ab7;
