.manga-card
    div.preview-image
        a(ui-sref="manga($ctrl.manga._id)")
            img(ng-src="{{$ctrl.getPreviewImage()}}")
    div.manga-details
        a.manga-title(ui-sref="manga({mangaId: $ctrl.manga._id})") {{$ctrl.manga.name}}
        .manga-details__footer
            a.add-to-favorites
                span.fa.fa-star.fa-fw.fa-lg
            a.add-to-reading-list
                span.fa.fa-book.fa-fw.fa-lg
