ul.navigation
    li
        a.navigation-link(ui-sref="things") Home
    li
        a.navigation-link(ui-sref="things") Updates
    li
        a.navigation-link(ui-sref="things") Favorites
    li
        a.navigation-link(ui-sref="things") Reading List
    li
        a.navigation-link(ui-sref="things") Search
