ul.navigation
    li
        a.navigation-link(ui-sref="home", ui-sref-active-eq="ac")
            span.fa.fa-home
            | &nbsp;
            span.navigation-link__label Home
    li
        a.navigation-link(ui-sref="updates", ui-sref-active-eq="ac")
            span.fa.fa-home
            | &nbsp;
            span.navigation-link__label Updates
    li
        a.navigation-link(ui-sref="favorites", ui-sref-active-eq="ac")
            span.fa.fa-home
            | &nbsp;
            span.navigation-link__label Favorites
    li
        a.navigation-link(ui-sref="reading", ui-sref-active-eq="ac")
            span.fa.fa-home
            | &nbsp;
            span.navigation-link__label Reading
    li
        a.navigation-link(ui-sref="search", ui-sref-active-eq="ac")
            span.fa.fa-home
            | &nbsp;
            span.navigation-link__label Search
