body,
html {
    height: 100%;
}
$nav-width: 200px;

.navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $nav-width;
    background-color: #222;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0 5px;
    }
}

.navigation-link {
    display: block;
    color: white;
    font-size: 20px;
    padding: 7px 5px;

    &__label {
        font-weight: bold;
    }
}

.app-container {
    padding-left: $nav-width;
    background-color: #333;
    min-height: 100%;
}
