.search
    .container-fluid
        form.form.form-horizontal
            .form-group
                label.control-label.col-sm-3 Name
                .col-sm-3
                    input.form-control
